<body>
    <div class="container">
      <div id="header" class="span-24">
      </div>
      <div class="span-24">
        <%= yield %>
      </div>

      
      <%= form_tag dashboard_path, :method => :get do %>
      <%= submit_tag 'Back to Dashboard' %>
      <% end %>
      
      <div id="footer" class="span-24">
        <p>Project by Team Girl Scout Cookies</p>
      </div>
    </div>
  </body>
