<div class="container">
  <div id="header" class="span-24">
  </div>
  
  <%= form_tag my_measurements_path, :method => :get do %>
  <%= submit_tag 'My Measurements' %>
  <% end %>
  
  <div id="footer" class="span-24">
    <p>Project by Team Girl Scout Cookies</p>
  </div>
</div>

