<p>
  Measurements so far:
  <span class="measurements"><%= @db.measurements %></span>
</p>

<%= form_tag enter_my_measurements_path, :method => :get do %>
  <%= submit_tag 'Enter New Measurements' %>
<% end %>


<%= render :template => 'measurements/index' %>
