/* @override http://localhost:9292/default.css */
body {
	font-family: Helvetica, Arial, Geneva, sans-serif;
	padding: 2em;
    border: 10px solid #ff6f69;
    color: #034f84
    
}


span.word {
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #0432ff;
	font-weight: bold;
	font-size: larger;
	padding-left: 1em;
}

form {
	/* border: 1px solid grey; */
	margin: 65px;
  margin-top: 1em;
}



