<!DOCTYPE html>
<html>
  <head>
    <title>My Measurements</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div id="header" class="span-24">
        <p>Enter Your Measurements:</p>
      </div>
      <div class="span-24">
        <%= yield %>
      </div>
      <div id="footer" class="span-24">
        <p>Project by Team Girl Scout Cookies</p>
      </div>
    </div>
  </body>
</html>
