<!DOCTYPE html>
<html>
  <head>
    <title>My Measurements</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= link_to 'Home Page', '/' %>
    <div class="container">
      <div id="header" class="span-24">
        <h>Girl Scout Cookies Exercise Tracker</h>
      </div>
      <div class="span-24">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
